# Ignore Git stuff
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache

# Java
target/
*.jar
*.war
*.class

# Logs & temp files
*.log
*.tmp
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile
